Yui_Gbot/config.py
Yui_Gbot/*.session
Yui_Gbot/*.session-journal
Yui_Gbot/config.ini
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Yui_Gbot/modules/helper_funcs/temp.txt
Yui_Gbot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
